{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}[![made with Go](https://img.shields.io/badge/made%20with-Go-brightgreen)](http://golang.org) [![Github master branch build](https://img.shields.io/github/workflow/status/zufardhiyaulhaq/goweekly/Master)](https://github.com/zufardhiyaulhaq/goweekly/actions/workflows/master.yml) [![GitHub issues](https://img.shields.io/github/issues/zufardhiyaulhaq/goweekly)](https://github.com/zufardhiyaulhaq/goweekly/issues) [![GitHub pull requests](https://img.shields.io/github/issues-pr/zufardhiyaulhaq/goweekly)](https://github.com/zufardhiyaulhaq/goweekly/pulls)

[![Bugs](https://sonarqube.zufardhiyaulhaq.com/api/project_badges/measure?project=goweekly&metric=bugs)](https://github.com/zufardhiyaulhaq/goweekly)
[![Code Smells](https://sonarqube.zufardhiyaulhaq.com/api/project_badges/measure?project=goweekly&metric=code_smells)](https://github.com/zufardhiyaulhaq/goweekly)
[![Coverage](https://sonarqube.zufardhiyaulhaq.com/api/project_badges/measure?project=goweekly&metric=coverage)](https://github.com/zufardhiyaulhaq/goweekly)
[![Maintainability Rating](https://sonarqube.zufardhiyaulhaq.com/api/project_badges/measure?project=goweekly&metric=sqale_rating)](https://github.com/zufardhiyaulhaq/goweekly)
[![Quality Gate Status](https://sonarqube.zufardhiyaulhaq.com/api/project_badges/measure?project=goweekly&metric=alert_status)](https://github.com/zufardhiyaulhaq/goweekly)
[![Reliability Rating](https://sonarqube.zufardhiyaulhaq.com/api/project_badges/measure?project=goweekly&metric=reliability_rating)](https://github.com/zufardhiyaulhaq/goweekly)
[![Security Rating](https://sonarqube.zufardhiyaulhaq.com/api/project_badges/measure?project=goweekly&metric=security_rating)](https://github.com/zufardhiyaulhaq/goweekly)

## Installing the Chart

To install the chart with the release name `my-release` and secret `foo`:

```console
kubectl apply -f secret.yaml

helm repo add zufardhiyaulhaq https://charts.zufardhiyaulhaq.com/
helm install goweekly zufardhiyaulhaq/goweekly --values values.yaml --set secret=foo
```

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
